* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
/* site header */
.site-header {
    background-color: #ccc;
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
}

/*site navigation*/
.site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

/* site logo */
.site-navigation .site-logo {
    height: 50px;
    width: 100%;
}

/* menu navigation principal */
.site-navigation ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.site-navigation ul li {
    padding: 0px 10px;
}

.site-navigation li a {
    color: black;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    width: max-content;
}

.site-navigation li a:hover {
    border-bottom: 2px solid;
}

/* site footer */
.site-footer {
    background-color: #ccc;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.navigation-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 50%;
}

.navigation-footer ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation-footer ul h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 7px;
    text-transform: uppercase;
}

.navigation-footer ul li {
    padding: 0px 10px;
}

.navigation-footer li a {
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.5;
    width: max-content;
}

.navigation-footer li a:hover {
    border-bottom: 2px solid;
}

.site-footer .form-contact {
    padding: 20px 50px;
    width: 50%;
}